body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgb(38,83,139);
    background: rgba(0, 0, 0, 0.25);
    /*background: linear-gradient(90deg, rgba(38,83,139,1) 0%, rgba(9,121,114,1) 39%, rgba(200,0,255,1) 100%);*/
    opacity: 0.8;
}

.header ul li {
    float: right;
}

.header ul li a{
    display: block;
    padding: 0.8em 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.youtopia {
    color: #00bec0;
    margin-left: 74px;
    float: left;
}

#logo {
    letter-spacing: 3px;
}

#feature_header ul li a{
    color: rgb(75, 75, 75);
}

.header ul li a:hover:not(.current){
    background-color: rgb(23, 157, 180);
}

#feature_header .current {
    background-color: rgb(23, 157, 180);
    color:white;
}

.home_parallelogram {
    width: 600px;
    height: 150px;
    transform: skew(10deg);
    background: rgb(100, 210, 245);
    position: relative;
    left: -35em;
    top: 7em;
    box-shadow: 12px 12px #000000;
}

.parallelogram2 {
    width: 250px;
    height: 100px;
    transform: skew(10deg);
    background: rgb(100, 210, 245);
    position: static;
    left: 37em;
    top: 35em;
    box-shadow: 12px 12px #000000;
}

.parallelogram3 {
    width: 250px;
    height: 100px;
    transform: skew(10deg);
    background: rgb(100, 210, 245);
    position: relative;
    left: 42em;
    top: 38em;
    box-shadow: 12px 12px #000000;
}

.center {
margin: 0;
position: absolute;
top: 49%;
left: 49%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.centeroffset {
margin: 0;
position: absolute;
top: 54%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.seemoretext {
    font-size: 60px;
    color: white;
}

.buttontext {
    font-size: 60px;
    color: white;
    text-shadow: 6px 6px #000000;
}
.buttontext2 {
    font-size: 30px;
    color: white
}
.buttontextshadow2 {
    font-size: 30px;
    color: black;
}

.cheattext {
    font-size: 30px;
    color: #00000000
}

.feature-left {
    margin: 12% 0 0 10%;
    display: inline-flex;
    transition: ease 0.6s;
}

.feature-left .text{
    float: left;
    display: inline;
    margin-left: 80px;
    margin-right: 30%;
}

.feature-right {
    margin: 12% 10% 0 0;
    display: inline-flex;
    transition: ease 0.6s;
}

.feature-right .text {
    float: left;
    display: inline;
    margin-right: 80px;
    margin-left: 30%;
}

.next {
    position: absolute;
    top: 610px;
    font-size: 30px;
    padding: 25px 37px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 50%;
    color: white;
    background-color: rgb(71, 71, 71);
    opacity: 100%;
    transition: ease 0.7s;
}

.prev{
    position: absolute;
    top: 130px;
    font-size: 30px;
    padding: 25px 37px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 50%;
    color: white;
    background-color: rgb(71, 71, 71);
    opacity: 100%;
    transition: ease 0.7s;
}

.next:hover, .prev:hover{
    background-color: rgb(0, 0, 0);
}

.section-team{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    align-content: center;
    margin: 60px;
    align-content: space-between;
}

.section-row1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    width: 100%;
}

.section-row2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    justify-items: center;
    width: 100%;
}

.team1, .team2, .team3, .team4, .team5, .team6{
    width: 30%;
    padding: 12px;
    border-radius: 8px;
    background-color: blanchedalmond;
    background: linear-gradient(50%,50%);
   
}
.team4, .team5, .team6{
    margin-top: 3%;
}

.body-team{
    background-image: url(/Users/bricesoh/Documents/GitHub/SEG-Project/images/team.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: xx-large;
    font-family: comic sans-serif;
}

.info-center{
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    
    .slide img{
        display:none;
    }

    .prev{
        top: 270px;
    }

    .next{
        top:750px;
    }

    .slide .text {
        margin-top: 15%;
    }

  }